@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@import "tailwindcss";
@import 'maplibre-gl/dist/maplibre-gl.css';
@import 'react-loading-skeleton/dist/skeleton.css';



@theme {
    --font-title: "Fascinate", system-ui;
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}